body{
    background-image: url("Images/Esileht.png");
}

h1{
    padding-top: 250px;
    text-align: center;
    font-size: 50px;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 25px 200px;
  }

.button:hover  {
    background-color: blue;
    transform: scale(1.2,1.2);
    border: 10px solid white;
  }

.center {
    text-align: center;
}
