body{
    background-image: url("https://cdn.discordapp.com/attachments/1298212592329949184/1302240319433084989/885542.png?ex=6727654e&is=672613ce&hm=f2fda4688445070d88d7f0bdbf5c13d7b055f9df8bd0cd9cc2da15c4e2fdfb70&");
}

h1{
    padding-top: 250px;
    text-align: center;
    font-size: 50px;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 25px 200px;
  }

.button:hover  {
    background-color: blue;
    transform: scale(1.2,1.2);
    border: 10px solid white;
  }

.center {
    text-align: center;
}
