body{
    background-image: url("Assets/Esileht.png");
    font-family: "Press Start 2P";
    background-color: black;
}

h1{
    padding-top: 150px;
    text-align: center;
    font-size: 40px;
}

.button {
    margin: 100px 200px;
  }

.button:hover  {
    transform: scale(2,2);
  }

.center {
    text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  padding-left: 350px;
  padding-right: 350px;
  font-size: 17px;
}
