/* Seadistab kogu lehe tausta */
body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Taust GIF-iga */
.background {
    position: absolute;
    width: 100%;
    height: 100%; /* Katab kogu tausta GIF-iga */
    background-image: url('https://media1.giphy.com/media/uYe2emzPgDfj2/giphy.webp?cid=ecf05e47dtaffn33rh8xpg7kqnzkuonxbmuyf6mzv397xm1r&ep=v1_gifs_search&rid=giphy.webp&ct=g');
    background-size: cover;
    background-position: center;
}

.content {
    text-align: center;
    z-index: 2;
    margin-top: 100px;
}

/* Teksti stiil */
h1, p {
    max-width: 800px;
    margin: 0 auto;
}

.button {
    margin: 50px 100px;
    font-family: "PSP";
}

.centered {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

