@font-face {
    font-family: "PSP";
    src: url(Assets/PressStart2P-vaV7.ttf);
}

.button {
    /*background-color: #04AA6D;*/
    border: none;
    color: white;
    padding-bottom: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    font-family: "PSP";
    transform: scale(3,3);
  }

.button:hover  {
    transform: scale(2,2);
  }

h1{
    font-family: "PSP";
    color: papayawhip;
}

h3{
    color: papayawhip;
}

a{
    color: papayawhip;
    vertical-align: bottom;
}

p{
    font-family: 'VT323', monospace;
    color: papayawhip;
    animation: backwards;
}
