body{
    font-family: "Press Start 2P";
}

h1{
    color: papayawhip;
}

h3{
    color: papayawhip;
}

a{
    color: papayawhip;
    vertical-align: bottom;
}

p{
    color: papayawhip;
    animation: backwards;
}
