body{
    background-color: brown;
}

h1{
    color: papayawhip;
}

h3{
    color: papayawhip;
}

a{
    color: papayawhip;
    vertical-align: bottom;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
  }

p{
    color: papayawhip;
    animation: backwards;
    border: 2px solid salmon;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 1px;
}